[flake8]
ignore = E203, E226, E402, E501, E701, D403, W503, W504
extend-select = B950
max-line-length = 120
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    .mypy_cache,
    migrations,
    settings

filename = *.py
max-complexity = 10
inline-quotes = single
